@font-face {
	font-family: 'minecrafter';
	src: url('./assets/minecrafter.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--bg: #0d1117;
	--face: #cedae4;
	--botm: #5f697a;
	--prime: #ffcc00;
	--alpha: #ffa500;
	--beta: #c9a100;
	--git: #3d444d;
	--bar: #24282f;
	--pg: #222227;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg);
	color: #d3d3d3;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.container {
	width: 80%;
	margin: auto;
}

section {
	scroll-margin-top: 18vh;
}

.section-header {
	font-family: 'minecrafter', sans-serif;
	margin: 0.5em 0em 0.5em 0em;
	font-size: 7vw;
	color: var(--prime);
	text-align: center;
	font-weight: lighter;
}

p {
	font-size: 1.2em;
	padding: 0.75em;
	background-color: var(--pg);
	border-bottom: #1e1e23 0.5em solid;
	box-shadow: inset 0px 0px 0px 0.25em #323232, 0px 5px 20px 5px #00000063;
}

.title {
	width: min(120vh, 80vw);
	height: auto;
}

.hero {
	height: min(90vh, 70vw);
	margin-bottom: min(30vh, 30vw);
	padding-top: 20vh;
	margin-top: -20vh;
	background-image: url('assets/panorama.png');
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	z-index: 1;
}

.hero-content p {
	padding: 0.2em 0em 0.2em 0em;
	font-size: min(3vh, 2vw);
	width: min(112vh, 75vw);
	font-family: 'minecrafter', sans-serif;
	font-weight: lighter;
	justify-content: center;
	background-color: var(--prime);
	margin: 1em auto;
	color: var(--bg);
	border: 0px;
	border-bottom: var(--bar) 0.25em solid;
	transform: scaleY(1.5);
	box-shadow: unset;
}

.links a,
p a {
	color: var(--prime);
	text-decoration: none;
	margin: 10px;
	display: inline-block;
	font-weight: bold;
	font-size: 1.2em;
	transition: color 0.3s ease-in-out;
}

.links a:hover,
p a:hover {
	color: var(--alpha);
	text-decoration: underline;
}

.navbar {
	background-color: #3e3e46f4;
	backdrop-filter: saturate(180%) blur(10px);
	padding: 0em;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	box-shadow: #0c0c1099 0 0em 0.5em 1em;
}

.nav-links {
	display: flex;
	overflow-x: scroll;
	flex-grow: 1;
	padding: 0.5em 0.5em 0.5em 0.5em;
	padding-bottom: 0.5em;
}

.nav-links a {
	font-family: 'minecrafter', sans-serif;
	font-size: 1.5em;
	color: var(--bg);
	background-color: var(--face);
	padding: 0.5em;
	box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.431), 0px 5px 5px 2px #00000043;
	border-bottom: var(--botm) 0.3em solid;
	text-decoration: none;
	margin: 0.1em 0.25em 0.1em 0.25em;
	font-weight: lighter;
	transition: box-shadow 0.1s ease-in-out, color 0.1s ease-in-out, margin 0.1s ease-in-out, border 0.1s ease-in-out;
}

.nav-links a:hover {
	color: var(--beta);
	border-bottom: var(--botm) 0.4em solid;
	margin-top: 0em;
}

.nav-links a:active {
	color: var(--alpha);
	border-bottom: 0.15em var(--prime) solid;
	box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.431), 0px 5px 5px 2px #ffdd002a;
	margin-top: 0.2em;
}

.avatar {
	background-color: var(--bar);
	height: 64px;
	padding: 0.75em;
	padding-right: 0em;
	margin-top: 0em;
}

.avatar img {
	transform: scaleX(-1);
	width: 64px;
	height: 64px;
	margin-top: -0.05em;
	padding: 0em;
}

.table-wrapper {
	width: 100%;
	overflow-x: scroll;
}

.platform-table {
	width: 100%;
	background-color: #1e1e1e;
	box-shadow: 0 0 10px #00000040;
}

.platform-table td {
	padding: 1em;
	border-top: 1px solid #333;
	border-bottom: 1px solid var(--bg);
	border-spacing: 0px 1px;
	font-size: 1em;
	margin-top: 0.1em;
	text-align: center;
}

.platform-table .top td {
	border-top: 1px solid transparent;
}

.platform-table .bottom td {
	border-bottom: 1px solid transparent;
}

.platform-table th {
	padding: 1em;
	background-color: #2a2a2a;
	color: var(--prime);
	font-family: 'minecrafter', sans-serif;
	font-weight: lighter;
	font-size: 1.2em;
	border-bottom: 0.25em solid var(--bg);
}

.platform-button {
	min-width: 50%;
	text-align: center;
	font-family: 'minecrafter', sans-serif;
	font-size: 1em;
	background-color: #22a31d;
	color: white;
	padding: 0.5em 0.5em;
	text-decoration: none;
	border-bottom: 0.25em solid #197e3e;
	transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
	display: inline-block;
}

.platform-button:hover {
	background-color: #27ae60;
}

.platform-button:active {
	background-color: #136434;
}

.changelog-wrapper {
	border: 1px solid var(--git);
	border-radius: 6px;
	padding: 1em;
	margin: 1.5em 0;
}
/*ooh i hate specificity*/
.changelog-wrapper p {
	border: 0px solid transparent;
	box-shadow: unset;
	border-radius: 0px;
	padding: 1em;
	margin: 1.5em 0;
}

.tab-menu {
	border: 1px solid var(--git);
	border-radius: 8px;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	padding: 0.5em;
	padding-bottom: 0.75em;
	justify-content: center;
	max-width: 100%;
}

.tab {
	flex: 1 1 20rem;
	min-width: 10rem;
	font-family: 'minecrafter', sans-serif;
	font-size: 1.5em;
	color: #ffffffad;
	background-color: unset;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	box-shadow: inset 0px 0px 0px 4px #ffffff92;
	border: 0px;
	border-bottom: #ffffff35 0.35em solid;
	margin: 0.1em;
	font-weight: lighter;
	cursor: pointer;
	transition: color 0.1s ease-in-out, margin 0.1s ease-in-out, border 0.1s ease-in-out;
}

.tab.active {
	color: white;
	box-shadow: inset 0px 0px 0px 4px white;
	border-bottom: 0.1em #b9b9b9 solid;
	margin-top: 0.3em;
}

.changelog-content {
	margin-top: 1em;
	background-color: var(--bg);
	color: #eee;
	padding: 1em;
	height: 50vh;
	overflow-y: auto;
	font-family: 'Segoe UI';
}

.changelog-content p {
	background-color: unset;
	border: 1px solid #3d444d;
	padding: 0.5em;
	border-radius: 6px;
}

footer.legal {
	background-color: #1a1a1a;
	color: #888;
	text-align: center;
	font-size: 0.9em;
	padding: 2em 1em;
	border-top: 1px solid #333;
	margin-top: 5em;
}

footer.legal p {
	max-width: 70%;
	margin: 2em auto;
	padding: 1em;
	line-height: normal;
}

footer.legal a {
	color: var(--prime);
	text-decoration: underline;
}

footer.legal a:hover {
	color: var(--alpha);
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track {
	background-color: var(--bar);
}

::-webkit-scrollbar-thumb {
	background-color: var(--prime);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--alpha);
}

#tab-content::-webkit-scrollbar-thumb {
	background-color: white;
}